<ons-page class="page">
  <ons-toolbar>
    <div class="center">Popover</div>
  </ons-toolbar>
  <div class="background"></div>
  <div class="content">
    <div style="text-align: center; margin: 10px">
      <ons-button (click)="popover.show(button)" #button>show Popover</ons-button>
    </div>
  </div>
</ons-page>

<!-- must be located just under an outermost box such as body element -->
<ons-popover direction="up down" cancelable #popover (prehide)="onPreHide($event)">
  <div style="text-align: center; opacity: 0.7;">
    <p>This is popover.</p>
    <p>
      <ons-button (click)="popover.hide()" modifier="light">Hide</ons-button>
    </p>
  </div>
</ons-popover>
