<div class="card" fxLayoutAlign="center center">
  <div class="card__front card__part" [style.backgroundColor]="backgroundColor">
    <img class="card__front-square card__square mat-elevation-z10" src="https://image.ibb.co/cZeFjx/little_square.png">
    <img class="card__front-logo card__logo"
      src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">
    <p class="card_numer">**** **** **** 6258</p>
    <div class="card__space-75">
      <span class="card__label">Card holder</span>
      <p class="card__info">Pratrick Doe</p>
    </div>
    <div class="card__space-25">
      <span class="card__label">Expires</span>
      <p class="card__info">10/25</p>
    </div>
  </div>
</div>
