<div class="container" fxLayout="row wrap" fxLayoutAlign="space-around start">


  <div class="description">
    <h1>Zyodar</h1>

    <p>
      Zyodar is a mobile web template created using:
    </p>
    <ul>
      <li>
        <a href="https://onsen.io/angular2/"> Osen UI</a>
      </li>
      <li>
        <a href="https://angular.io/"> Angular CLI</a>
      </li>
      <li>
        <a href="https://material.angular.io/">
          Angular Material Design
        </a>
      </li>
      <li>
        <a href="https://github.com/angular/flex-layout/wiki"> Angular Flex-layout</a>
      </li>
    </ul>

    <p>
      It includes other modules like:
    </p>
    <ul>
      <li>
        <a href="https://www.zingchart.com/docs">ZingChart</a>
      </li>
      <li>
        <a href="https://www.chartjs.org/samples/latest/">Chartjs</a>
      </li>
    </ul>

    <p>
      With the following, you have a sample of a mobile banking app, in which you can find multiple widgets that you can
      work with.
    </p>
  </div>

  <div>

    <mobile-container>
      <ons-tabbar>
        <div class="tabbar__content"></div>
        <div class="tabbar mat-elevation-z10">
          <ons-tab icon="home" [page]="home" active> </ons-tab>
          <ons-tab icon="wallet" [page]="spend"> </ons-tab>
          <ons-tab icon="heart" [page]="save"></ons-tab>
          <ons-tab icon="cog" [page]="settings"></ons-tab>
        </div>
      </ons-tabbar>
    </mobile-container>


    <!-- Without Mobile border -->
    <!-- <div class="wrapper">
      <ons-tabbar>
        <div class="tabbar__content"></div>
        <div class="tabbar mat-elevation-z10">
          <ons-tab icon="home" [page]="home" active> </ons-tab>
          <ons-tab icon="wallet" [page]="spend"> </ons-tab>
          <ons-tab icon="heart" [page]="save"></ons-tab>
          <ons-tab icon="cog" [page]="settings"></ons-tab>
        </div>
      </ons-tabbar>
    </div> -->


  </div>


</div>
